@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

:root {
  --clr-black: 0, 0%, 0%;
  --clr-black-light: 0, 0%, 6%;
  --clr-white: 0, 0%, 100%;
  --clr-gray-light: 0, 0%, 98%;
  --clr-gray: 0, 0%, 95%;
  --clr-primary: 22, 65%, 57%;
  --clr-primary-light: 21, 94%, 75%;
  --ff-sans-serif: "Manrope", sans-serif;

  --fs-900: 3.5rem;
  --fs-800: 2.5rem;
  --fs-700: 2rem;
  --fs-600: 1.75rem;
  --fs-500: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 0.9375rem;
  --fs-200: 0.875rem;
  --fs-100: 0.8125rem;
}

/* RESET DOM */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
button,
input {
  background: none;
  border-radius: none;
  border: none;
  font-family: inherit;
}
button {
  display: block;
  cursor: pointer;
}
button,
input:focus {
  outline: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
.image__wrapper {
  position: relative;
  max-width: 100%;
}

/* UTILIS */
/* TYPOGRAPHY */
.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fw-l {
  font-weight: 400;
}
.fw-m {
  font-weight: 500;
}
.fw-b {
  font-weight: 700;
}

/* COLORS */

.text-primary {
  color: hsl(var(--clr-primary));
}
.text-primary-light {
  color: hsl(var(--clr-primary-light));
}
.text-black {
  color: hsl(var(--clr-black));
}
.text-black-light {
  color: hsl(var(--clr-black-light));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-gray-light {
  color: hsl(var(--clr-gray-light), 0.4);
}
.text-gray {
  color: hsl(var(--clr-gray), 0.7);
}

.bg-primary {
  background-color: hsl(var(--clr-primary));
}
.bg-primary-light {
  background-color: hsl(var(--clr-primary-light));
}
.bg-black {
  background-color: hsl(var(--clr-black));
}
.bg-black-light {
  background-color: hsl(var(--clr-black-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-gray-light {
  background-color: hsl(var(--clr-gray-light), 0.4);
}
.bg-gray {
  background-color: hsl(var(--clr-gray), 0.7);
}

/* TYPOGRAPHY CLASSES */

.heading-1 {
  font-size: var(--fs-900);
  text-transform: uppercase;
  line-height: 58px;
  letter-spacing: 2px;
  font-weight: 700;
}

.heading-2 {
  font-size: var(--fs-800);
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.heading-3 {
  font-size: var(--fs-700);
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 1.15px;
  font-weight: 700;
}

.heading-4 {
  font-size: var(--fs-600);
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 2px;
  font-weight: 700;
}

.heading-5 {
  font-size: var(--fs-500);
  text-transform: uppercase;
  line-height: 33px;
  letter-spacing: 1.7px;
  font-weight: 700;
}

.heading-6 {
  font-size: var(--fs-400);
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1.3px;
  font-weight: 700;
}

.text-overline {
  font-size: var(--fs-200);
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 10px;
  font-weight: 400;
}
.sub-heading {
  font-size: var(--fs-100);
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 700;
}

.text-body {
  font-size: var(--fs-300);
  line-height: 25px;
  font-weight: 500;
}

/* LAYOUT UTILS */

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 2rem);
}

.container {
  max-width: 85rem;
  padding-inline: 4em;
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 2rem);
}

.flow-space--small {
  --flow-space: 0.75rem;
}
.flow-space--big {
  --flow-space: 3.3rem;
}

/* GLOBAL STYLES */

body {
  font-family: var(--ff-sans-serif);
}

.categoryPage-title {
  background-color: hsl(var(--clr-black));

  text-align: center;
  padding-block: 4rem;
}

html {
  background-color: hsl(var(--clr-gray));
}

.checkout-page {
  margin-top: 3rem;
}
.checkout-page .btn--back {
  margin-bottom: 3rem;
}

.checkout-page section {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 30%);
  gap: 2rem;
}
