@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");

:root {
  --ff-spartan: "League Spartan", sans-serif;
  --ff-antonio: "Antonio", sans-serif;

  --clr-white: 0, 0%, 100%;
  --clr-black: #070724;
  --clr-gary-dark: #38384f;
  --clr-gary-light: ##838391;
  --clr-cyan: #419ebb;
  --clr-cyan-2: #1ec2a4;
  --clr-yellow: #eda249;
  --clr-purple: #6f2ed6;
  --clr-orange: #d14c32;
  --clr-orange-2: #cd5120;
  --clr-red: #d83a34;
  --clr-blue: #2d68f0;

  /*
  Planet name = 80 > 48 < 40
  info = 40 < 24 < 20
  content = 14 < 11 < 11
   header = 28px 
   Link + button + info_label = 11px
  */

  --fs-900: 2.5rem;
  --fs-800: 1.25rem;
  --fs-700: 1.75rem;
  --fs-600: 0.875rem;
  --fs-500: 0.75rem;

  --line-5: 6.4375rem;
  --line-4: 3.25rem;
  --line-3: 1.2rem;
}

@media screen and (min-width: 700px) {
  :root {
    --fs-900: 3rem;
    --fs-800: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --fs-900: 5rem;
    --fs-900: 2.5rem;
  }
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  font-family: inherit;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

main {
  min-height: 100vh;
}

/* UTILS */

/* font familt */
.ff-antonio {
  font-family: var(--ff-antonio);
}
.ff-spartan {
  font-family: var(--ff-spartan);
}

/* font sizes */
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}

/* line height */
.line-h5 {
  line-height: var(--line-5);
}
.line-h4 {
  line-height: var(--line-4);
}
.line-h3 {
  line-height: var(--line-3);
}

/* COLORS */
/* text color */
.text-white {
  color: hsl(var(--clr-white));
}

/* classes */
.fw-400 {
  font-weight: 500;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 500;
}
.uppercase {
  text-transform: uppercase;
}
.text-to-center {
  text-align: center;
}

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 2rem);
}
