@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");

:root {
  --ff: "Chivo", sans-serif;
  --clr-primary: #54e6af;
  --clr-white: #ffffff;
  --clr-light: #c2cbe5;
  --clr-dark: #2c344b;
  --clr-dark-2: #121725;

  --clr-gray: #5a668a;

  --box-shadow-1: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  position: relative;
}

main {
  min-height: 100vh;
  height: 100%;
  font-family: var(--ff);
  overflow: hidden;
}
